@keyframes slideUpFadeIn {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate {
    animation: slideUpFadeIn 1s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        /* transform: translateX(-100%); */
        /* opacity: 0; */
    }

    to {
        /* transform: translateX(0); */
        /* opacity: 1; */
    }
}
